<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @requirement.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @requirement.completed %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @requirement.rank_id %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
