<p id="notice"><%= notice %></p>

<h1>Sub Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Requirement</th>
      <th>Part</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_requirements.each do |sub_requirement| %>
      <tr>
        <td><%= sub_requirement.requirement_id %></td>
        <td><%= sub_requirement.part %></td>
        <td><%= sub_requirement.description %></td>
        <td><%= link_to 'Show', sub_requirement %></td>
        <td><%= link_to 'Edit', edit_sub_requirement_path(sub_requirement) %></td>
        <td><%= link_to 'Destroy', sub_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Requirement', new_sub_requirement_path %>
